<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>greetings-page</title>
  <link rel="stylesheet" href="../style.css">

</head>

<body>
  <div class="container">
   
      <div class=" header">
        <h1>Greetings</h1>
      </div>
      <div class="messages">
        <div class="Greetmessage">
        <h4 class="message"><span>{{message}}</span></h4>
      </div>
       <div class=" errorMessage red {{errorClass}}">
    <h4 id="errorMessage">{{errorMessage}}</h4>
      </div>
      </div>
     
      <form action="/greet" method="POST">
      <div class=" input-greet">
        <label for="name">Enter Name:
           <input type="text" name="name" value="{{name}}" placeholder="eg: Londeka" class="input-box">
        </label>
        <div class="counter">
          <p>   Greetings : <span class="counter">{{timesGreeted}}</span></p>
        </div>
      </div>
      <div class="languages">
        <label class="Swati">
          <input type="radio" name="chooseLanguage" class="chooseLanguageRadio" value="Swati">
          <span class="label-body">Swati</span>
        </label>
        <label class="English">
          <input type="radio" name="chooseLanguage" class="chooseLanguageRadio" value="English">
          <span class="label-body">English</span>
        </label>
        <label class="Sotho">
          <input type="radio" name="chooseLanguage" class="chooseLanguageRadio" value="Sotho">
          <span class="label-body">Sotho</span>
        </label>
      </div>
      
      <div class="alert">
        <h4 class="alert"><span></span></h4>
      </div>
      <div class="buttons">
        <button class="button-primary greetBtn" type="submit" name="submit">Greet</button>
        </form>
        <form action="/reset" method="POST">
          <button class="button-primary resetButton" type="submit" name="reset">Reset</button>

        </form>
    </div>
      <div class="nav">
            <a href="/greeted">Users</a>

      </div>
  </div>
  <script>

    let errorMessageElem = document.getElementById('errorMessage');
    errorMessageElem.textContent = '{{errorMessage}}'
    
    setTimeout(()=>{
      errorMessageElem.style.display = 'none'

    },3500)

   
  </script>
</body>

</html>